<!DOCTYPE html>    
<html lang="en">
    <head>    
        <title>{{title}}</title>    
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">
        <link rel="stylesheet" type="text/css" href="/public/css/loginAndSignup.css">
        <link rel="stylesheet" type="text/css" href="/public/css/explore.css">
        <link rel="stylesheet" type="text/css" href="/public/css/accessibility.css">
    </head>  
    <body>
        <header class = "header"> 
            <nav class = "navigation">
                {{#unless isUser}}
                    {{#unless isBusiness}}
                    <a class="home" href="/">Home</a>
                    <a class="small-link" href="/login">Login</a>
                    <a class="big-link" href="/signup">Sign Up</a>
                    <a class="explore" href="/explore">Explore</a>
                    {{/unless}}
                {{/unless}}
                {{#if isUser}}  
                <a class="home" href="/">Home</a>
                <a class="favorites" href="/favorites">Favorites</a>  
                <a class="explore" href="/explore">Explore</a>  
                <a class="settings" href="/settings">Account</a>  
                <a class="logout" href="/logout">Logout</a>
                
                {{/if}}
                {{#if isBusiness}}  
                <a class="home" href="/">Home</a>
                <a class="business" href="/business/{{businessId}}">My Business</a>
                <a class="explore" href="/explore">Explore</a>  
                <a class="settings" href="/settings">Account</a>  
                <a class="logout" href="/logout">Logout</a>
                {{/if}}
            </nav>
         </header>
        <main>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>  
            {{#if hasError}}
            <p class="error" id="error">{{error}}</p>
            {{/if}}
            {{#if hasMessage}}
            <p class="message">{{message}}</p>
            {{/if}}
            {{{body}}} 
        </main>
        <footer>
            {{#if isUser}}
            <a class="smallBizReviews" href="https://docs.google.com/forms/d/e/1FAIpQLScVE6PlyuTeG65_0Q_gbwQjSLg0P7wjaGY2Tm6AmMWSIl9NbQ/viewform?usp=sf_link">Review our website</a> 
            {{/if}} 
            {{#if isBusiness}}
            <a class="smallBizReviews" href="https://docs.google.com/forms/d/e/1FAIpQLScVE6PlyuTeG65_0Q_gbwQjSLg0P7wjaGY2Tm6AmMWSIl9NbQ/viewform?usp=sf_link">Review our website</a> 
            {{/if}} 
        </footer>
    </body>
</html>   