 <!--show ratings --> 
  <div class="title">
    <h1>{{business.username}}</h1>
  </div>
  <div class = "rating">
    <h2> average rating: {{{rating}}} </h2>
  </div>
  <!--show post & reviews -->
  <div class="show-post">
    <h3>Posts</h3>
    <ul class="show-post">
        {{#each posts}}
          <li class="show-post"><a href = "/business/post/{{this._id}}"> {{this.title}} </a></li>
        {{/each}}
        
    </ul>
  </div>
  <div class="show-reviews">
    <h3>Reviews</h3>
        <ul class="show-reviews">
        {{#each reviews}}
            <li> 
            <p> rating: {{this.rating}}</p>
            <p>{{this.reviewText}}</p>
            </li>
        {{/each}}
        </ul>

    
  </div>
    <nav class = "actions">
        {{#if isBusiness}}
        <a href="/business/{{businessId}}/new">Create Post</a>
        {{/if}}

        {{#if isUser}}
        <a class = "leaveReview" href="/business/{{business._id}}/review">Leave Review</a>
        <form method="post" action="/business/{{business._id}}/favorite" class="inline">
          <input type="hidden" name="favorites_param" value="favorites_param">
          <button type="submit" name="submit_param" value="submit_value" class="link-button">Add to Favorites</button> 
        </form>
        {{/if}}
  </nav>
  