    <head>    
        <title>{{title}}</title>    
        <link rel="stylesheet" type="text/css" href="public/css/main.css">
        <link rel="stylesheet" type="text/css" href="public/css/accessibility.css">
    </head>  
    <body>
      <!--show ratings --> 
      <div class="title">
        <h1>{{business.username}}</h1>
     </div>
     <div class = "rating">
        <h2> {{{rating}}} </h2>
     </div>
      <!--show post & reviews -->
      <div>
      <ul class="show-post">
           {{#each posts}}
             <li class="show-post"><a href = "/business/post/{{this._id}}"> {{this.postTitle}} </a></li>
           {{/each}}
           
       </ul>
      </div>
      <div>
        <ul class="show-reviews">
          {{#each reviews}}
               <li > 
                <p> {{this.rating}}</p>
                <p> {{this.reviewText}}</p>
               </li>
             {{/each}}
             
         </ul>
        </div>
      <header class = "header"> 
          <nav class = "businessIndex">
              {{#if isBusiness}}
              <a href="/business/{{businessId}}/new">Create Post</a>
              {{/if}}

              {{#if isUser}}
              <a href="/business/{{business._id/review}}">Leave Review</a>
              <a href="/business/{{business._id/favorite}}">Add to Favorites</a>
              <form method="post" action="/business/{{business.id/favorite}}" class="inline">
                <input type="hidden" name="leave_review_param" value="leave_review_value">
                <button type="submit" name="submit_param" valie="submit_value" class="link-button">Submit</button> 
              </form>
              {{/if}}
            </body>

      