<div class = "post">
    <h1>{{post.title}}</h1>
    <p>Time Uploaded: {{post.date}}</p>
    <img src={{post.image}} alt="The post image">
    <p id="postText">{{post.postText}}</p>
    {{#if isBusiness}}
        <a class="small-link" href="/business/post/{{postid}}/edit">Edit Post</a>
    {{/if}}
</div>